.search-input {
    background-color: rgb(244, 242, 239);
    width: 565px;
    border-radius: 15px;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin: 15px;
}

.input {
    width: 350px;
    height: 30px;
    border-radius: 15px;
    border-width: 0px;
    padding: 6px;
    background-color: #f9f9f9;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    display: flex;
    text-align: center;
    border-color: white;
    align-items: center;
}

.input:hover {
    border-width: 1px;
    border-color: #646cff;
}

.input-button {
    border-radius: 15px;
    margin: 15px;
}